body {
  background-image: url("arches.png");
  background-repeat: repeat;
  /* Hack for weird extra space at bottom of screen on IOS */
  overflow: hidden;
}

.topicInput {
  margin: 4px;
}

.attribution {
  font-size: 6px;
  color: #c7a4a4;
}

.link-button {
  background-color: transparent;
  border: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
text-decoration: none;
}

.iphoneHint {
  margin: 10px;
  font-style: italic;
  font-size: 9px;
}

.attribution a {
  color: #c7a4a4;
}

.iconsAttribution {
  float: left;
  width: 50%;
}

.musicAttribution {
  width: 50%;
  float: right;
}

.playingIcon {
  width: 90%;
}

.controls {
  margin: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
}

.navButtons {
  margin: 20px;
}

.song-container {
  text-align: center;
}

.loadingAnimation {
  width: 100%;
}

/* Dirty hack to stop the text in the alert being uppercased. */
#__react-alert__ div {
  text-transform: initial!important;
}

.loader-hidden {
  display: none;
}

.loader-active {
  transform: scale(3, 3);
  display: inline-block;
} 
