.App {
  text-align: center;
}

body {
  background-image: url("arches.png");
  background-repeat: repeat;
}

.topicInput {
  margin: 4px;
}

.attribution {
  font-size: 0.7vw;
  color: #cdcdcd;
}

.iconsAttribution {
  float: left;
  width: 50%;
}

.musicAttribution {
  width: 50%;
  float: right;
}

.playingIcon {
  width: 90%;
}

.controls {
  margin: 30px;
}

.attribution a {
  color: #e6e6e6;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.loadingAnimation {
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

#__react-alert__ div {
  text-transform: initial!important;
}

.loader-hidden {
  display: none;
}
.loader-active {
  transform: scale(3, 3);
  display: inline-block;
} 

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}
